body{
    background-image: url(img/156835-cinema_wallpapoers-cinema-theater-karikaalan-multiplex-1920x1080.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{color: white;
}

h2{
    color: white;
}

.fechaNombreSesion{
    justify-content: center;
    text-align: center;
}

.sala {
  display: flex;
  background-color: black;
  flex-direction: column;
  width: 808px;
  border-radius: 30px;
  justify-content: center;
  text-align: center;
  margin: 0 auto ;
}

.pasillo{
    width: 60px;
}

.numFila{
    width: 60px;
    color: white;
}

.fila {
  display: flex;
  flex-direction: row;
  width: 800px;
  justify-content: space-between;
  text-align: center;
  justify-content: center;
  padding: 4px;
}

.asiento{
    cursor: pointer;
    padding: 1px;
}

.asiento:hover{
    border: 0.1px solid white;
}

.pantalla{
    display: flex;
    height: 50px;
    width: 600px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    color: white;
    border: solid white;
}

.tipoButacas{
    display: flex;
    background-color: black;
    justify-content: center;
    margin: 10px;
    border-radius: 20px;
}

h3{
    color: white;
}

.iconoAsiento{
    width: 40px;
    height: 40px;
    padding: 10px;
}

.botones{
    display: flex;
    justify-content: center;
    
}

.boton{
    margin: 35px;
}

input{
    width: 130px;
    height: 50px;
    cursor: pointer;
}

